.container {
  width: 30px;
  height: 25px;
  background-color: black;
  align-items: center;
}
.container label {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.line {
  width: 80%;
  display: block;

  background-color: red;
  height: 2px;
  border: 2px;
  z-index: 1;
}
.first {
  position: absolute;
  top: 5px;
  transition: 0.3s linear;
}
.second {
  position: absolute;
  top: 10px;
}
.third {
  position: absolute;
  top: 15px;
  transition: 0.3s linear;
}
#button:checked + .container label .first {
  transform: rotate(45deg);
  top: 11px;
  left: 3px;
}

#button:checked + .container label .second {
  display: none;
}

#button:checked + .container label .third {
  transform: rotate(-45deg);
  top: 11px;
  left: 3px;
}
