#menu-navbar {
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  color: #333333;
  font-weight: 300;
  height: 35px;
  border-bottom: 2px solid #c0020f;
  width: 100%;
}

#menu-navbar .main-navbar {
  background: #ffffff;
}

#menu-navbar .main-navbar .wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 30px;
}

#menu-navbar .main-navbar .wrapper .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item {
  list-style: none;
  margin: 0;
  width: 16%;
  padding: 0;
  margin-left: 0px;
  text-align: center;
  line-height: 35px;
  width: 201px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-head {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #c0020f;
  height: 100%;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body {
  position: relative;
  display: none;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  color: black;
  width: 202px;
  position: relative;
  text-align: left;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li {
  width: 100%;
  position: relative;
  height: 35px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li a:hover {
  color: red;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li i {
  position: absolute;
  right: 10px;
  top: 30%;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item:hover .megamenu-body {
  display: block;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item2 {
  width: 84%;
  height: 35px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item2 .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-evenly; */
  list-style: none;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item2 .navbar-list li {
  padding: 0 10px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item2 .navbar-list li a {
  text-decoration: none;
  color: black;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item2 .navbar-list li a:hover {
  color: red;
}

#displayNone,
#displayNone2 {
  display: none;
}

.megamenu-dropdown:hover #displayNone {
  display: block;
}

#displayNone:hover #displayNone2 {
  display: block;
}

.megamenu-head:hover .megamenu-body {
  display: block !important;
}
/*# sourceMappingURL=example.css.map */