@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

section .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .box.box2 {
  background: salmon;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0 52%);
}
section .box h2 {
  color: salmon;
  font-size: 6vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  animation: animate 3s ease-in-out infinite;
}

section .box.box.box2 h2 {
  color: white;
}
section .box h2 span:nth-child(2) {
  line-height: 1em;
  font-size: 2em;
}
@keyframes animate {
  0%,
  45% {
    transform: translateY(-70%);
  }
  55%,
  90% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(-70%);
  }
}
