* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;
}
#progress {
  width: 70%;
  height: 50px;
  position: relative;
}
#bar {
  width: 1%;
  height: 100%;
  background-color: pink;
}
button {
  width: 100px;
  height: 50px;
  margin-top: 50px;
}
